.parent{
    overflow: hidden;
    position: relative;

width: 70%;
margin: 100px auto;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.main{
    width: 400%;
    height:500px;
    display: flex;
   
   
   position: relative;
   
   
   animation:20s surf infinite;
   
   
}

img{
    width: 25%;
    height: 100%;
    

   
    
    
}
@keyframes surf {
    0%{
        left: 0;
    }
    30%{
        left: 0;
    }
    40%{
        left: -100%;
    }
    65%{
        left: -100%;
    }
    75%{
        left: -200%;
    }
    95%{
        left: -200%;
    }
    
    100%{
        left: -300%;
    }



}
